<h1 class="main-heading" {{ block.shopify_attributes }}>
  {{ block.settings.heading }}
</h1>

{% schema %}
{
  "name": "Heading",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "MOTHER'S DAY SALE"
    }
  ]
}
{% endschema %}