<div class="product-card">

  <a href="{{ product.url }}">

    {{
      product.featured_image
      | image_url: width: 500
      | image_tag
    }}

    <h3>{{ product.title }}</h3>

    <p>{{ product.price | money }}</p>

  </a>

</div>