@font-face {
  font-family: "Mona Sans Expanded";
  src: url('{{ "MonaSansExpanded-Regular.woff2" | asset_url }}') format("woff2");
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  background: #fef9fa;
  position: relative;
}

.hero-banner--reverse {
  flex-direction: row-reverse;
}

.hero-banner--reverse .hero-offer {
  left: auto;
  right: 355px;
}

.hero-banner__content {
  max-width: 1280px;
}

.hero-heading {
  font-size: 44px;
  font-weight: bolder;
  color: #e8656b;
  max-width: 262px;
}

.hero-subheading {
  margin-top: 20px;
  color: #1a67a0;
  font-size: 20px;
  font-weight: bold;
}

.hero-offer {
  background-color: #f2e49fcc;
  color: #11854d;
  font-weight: 700;
  font-size: 20px;
  padding: 4px;
  position: absolute;
  left: 40.5px;
  top: 125px;
  transform: rotate(-10deg);
  display: inline-block;
}

.hero-banner__image img {
  max-width: 416px;
  mix-blend-mode: multiply;
}

@media (max-width: 768px) {

<<<<<<< HEAD
  .hero-banner {
=======
  .hero-banner,
  .hero-banner--reverse {
>>>>>>> 4b51651 (feature icon and shop by category section added)
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

<<<<<<< HEAD
  .hero-banner--reverse {
=======
  .hero-banner--mobile-reverse {
>>>>>>> 4b51651 (feature icon and shop by category section added)
    flex-direction: column-reverse;
  }

  .hero-banner__image img {
    max-width: 100%;
  }

  .hero-banner__content {
    text-align: center;
    width: 100%;
<<<<<<< HEAD
    position: relative;    
    padding-top: 40px;       
=======
    position: relative;
    padding-top: 40px;
>>>>>>> 4b51651 (feature icon and shop by category section added)
  }

  .hero-heading {
    font-size: 36px;
  }

<<<<<<< HEAD
  .hero-offer {
    position: absolute;
    left: 60px;
    top: 45px;
    transform: translateX(-50%) rotate(-10deg);
    font-size: 10px;
    padding: 1px 2px;
    white-space: nowrap;    
  }

  .hero-banner--reverse .hero-offer {
    left: 60px;
    right: auto;
    top: 45px;
    transform: translateX(-50%) rotate(-10deg);
=======
  .hero-offer,
  .hero-banner--reverse .hero-offer,
  .hero-banner--mobile-reverse .hero-offer {
    position: absolute;
    left: 65px;
    right: auto;
    top: 42px;
    transform: translateX(-50%) rotate(-10deg);
    font-size: 12px;
    padding: 2px 6px;
    white-space: nowrap;
>>>>>>> 4b51651 (feature icon and shop by category section added)
  }

}